<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Hey!!</h1>
    <p class="lead">A user with the given username is already registered, Headover to Login page</p>
    <hr>
    <a class="btn btn-info btn-lg" href="/login" role="button">Login Page</a>
  </div>
</div>

<%- include('partials/footer') %>
